.*
.git/
build/classes/
build/dependency-cache/
build/distributions/theta.zip
build/libs/
build/resources/
build/reports/
build/scripts/
build/test-results/
build/tmp/
libs/
logs/
src/

build.gradle
gradle.properties
settings.gradle
