### Eclipse.gitignore
.metadata
bin/
tmp/
logs/
*.tmp
*.bak
*.swp
*~.nib
.settings
.classpath
.project

### Intellij.gitignore
.idea
out/

### Gradle.gitignore
.gradle
build/

### Lombok.gitignore
lombok.config

