<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" strict="true" name="ThetaEngine"
	packages="">

	<Appenders>
		<Appender type="RollingFile" name="MainLogFile" fileName="logs/ThetaEngine.log"
			filePattern="logs/$${date:yyyy-MM}/ThetaEngine_%d{yyyy-MM-dd}.log.gz">
			<Layout type="PatternLayout">
				<Pattern>%highlight{%d %p [%t] %C - %m%n}</Pattern>
			</Layout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</Appender>
		<Appender type="RollingFile" name="BrokerLogFile" fileName="logs/RawBroker.log"
			filePattern="logs/$${date:yyyy-MM}/RawBroker_%d{yyyy-MM-dd}.log.gz">
			<Layout type="PatternLayout">
				<Pattern>%m</Pattern>
			</Layout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</Appender>
		<Appender type="RollingFile" name="TickLogFile" fileName="logs/Tick.log"
			filePattern="logs/$${date:yyyy-MM}/Tick_%d{yyyy-MM-dd}.log.gz">
			<Layout type="PatternLayout">
				<Pattern>%highlight{%d %p [%t] %C - %m%n}</Pattern>
			</Layout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</Appender>
	</Appenders>

	<Loggers>
		<Logger name="brokers.interactive_brokers.IbLogger" level="trace"
			additivity="false">
			<AppenderRef ref="BrokerLogFile" />
		</Logger>
		<Logger name="brokers.interactive_brokers.IbTickHandler" level="trace"
			additivity="false">
			<AppenderRef ref="TickLogFile" />
		</Logger>

		<Root level="trace">
			<AppenderRef ref="MainLogFile" />
		</Root>
	</Loggers>

</Configuration>