<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" strict="true" name="XMLConfigTest"
	packages="org.apache.logging.log4j.test">
	<Properties>
		<Property name="filename">logs/ThetaEngine.log</Property>
	</Properties>
	<Filter type="ThresholdFilter" level="trace" />

	<Appenders>
		<Appender type="File" name="File" fileName="${filename}">
			<Layout type="PatternLayout">
				<Pattern>%d %p [%t] %C - %m%n</Pattern>
			</Layout>
		</Appender>
	</Appenders>

	<Loggers>
		<Logger name="org.apache.logging.log4j.test2" level="trace"
			additivity="false">
			<AppenderRef ref="File" />
		</Logger>

		<Root level="trace">
			<AppenderRef ref="File" />
		</Root>
	</Loggers>

</Configuration>