<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

	<property name="LOG_NAME" value="theta" />
	<property name="LOG_DIR" value="logs" />
	<property name="LOG_ARCHIVE" value="${LOG_DIR}/archive" />

	<appender name="Console"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%date %highlight(%-5level) %logger{0} [%thread] - %message%n</Pattern>
		</layout>
	</appender>

	<appender name="RollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/${LOG_NAME}.log</file>
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%date %-5level %logger{0} [%thread] - %message%n
			</Pattern>
		</encoder>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_ARCHIVE}/${LOG_NAME}_%d{yyyy-MM-dd}.%i.logger.gz</fileNamePattern>
			<maxFileSize>25MB</maxFileSize>
			<maxHistory>30</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
	</appender>

	<appender name="SpringRollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/org.springframework.log</file>
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%date %-5level %logger{0} [%thread] - %message%n
			</Pattern>
		</encoder>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_ARCHIVE}/org.springframework_%d{yyyy-MM-dd}.%i.logger.gz</fileNamePattern>
			<maxFileSize>25MB</maxFileSize>
			<maxHistory>30</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
	</appender>

	<appender name="PositionRollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/position.log</file>
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%date %-5level %logger{0} [%thread] - %message%n
			</Pattern>
		</encoder>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_ARCHIVE}/position_%d{yyyy-MM-dd}.%i.logger.gz</fileNamePattern>
			<maxFileSize>25MB</maxFileSize>
			<maxHistory>30</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
	</appender>

	<root level="debug">
		<appender-ref ref="RollingFile" />
		<appender-ref ref="Console" />
	</root>

	<logger name="org.springframework" level="info"
		additivity="false">
		<appender-ref ref="SpringRollingFile" />
	</logger>

	<logger name="theta.portfolio.manager.PositionLogger"
		level="debug" additivity="true">
		<appender-ref ref="PositionRollingFile" />
	</logger>

</configuration>
